.game-provider {
    min-width: 150px;
}

.game-collection {
    min-width: 150px;
}

div .ui .row {
    margin-top: 10px;
    margin-bottom: -10px;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .ui.grid {
        margin-top: 5px !important;
        margin-bottom: -5px !important;
    }

    .game-provider {
        min-width: 340px;
    }

    .game-collection {
        min-width: 340px;
    }

    .ui .card {
        margin-left: 4%;
        margin-right: 4%;
        width:340px;
    }
    .ui .card .image img {
        width:340px;
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    .game-provider {
        min-width: 220px;
    }

    .game-collection {
        min-width: 220px;
    }

    .ui .card {
        margin-left: 4%;
        margin-right: 4%;
        width:250px;
    }
    .ui .card .image img {
        width:250px;
    }
}